# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Secrets
.env
*.env
secrete.env

# Jupyter
.ipynb_checkpoints/

# Databases
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db